<h1>Flight Manager</h1>

<h2>Add Flight</h2>
<!--<div class="box-header with-border">
    <div class="form-group voffset row">
        <label for="" class="vertical-label col-sm-4 col-md-8 text-right"> Select Departure Airport</label>
        <div class="col-sm-8 col-md-4">
            <select id="Id" #Id="ngModel" class="hideLabel form-control" [(ngModel)]="nameId" name="Id" (change)="selectName();">
                <option selected="" value=""></option>
                <option [ngValue]="airport.code" *ngFor="let airport of airports">
                    {{k.Name}}
                </option>
            </select>
        </div>
    </div>
</div>-->  